.qualifications{

    margin-bottom: 3%;
    min-height: 90vh;
    background-color: whitesmoke;
    /* border-bottom: 2px solid #ffcd00; */
    
}
.qualifications-title{
    color: black;
    margin-bottom: 10px;
}
.qualifications .qualifications-box .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qualifications .nav-pills .nav-item .nav-link {
    color: black;
    font-weight: 600;
    font-size: 1.0em;
    margin: -20px 55px 0 55px;
    border-radius: 0 !important
}

.qualifications .nav-pills .nav-item .nav-link.active,
.qualifications .nav-pills .nav-item .nav-link:active,
.qualifications .nav-pills .nav-item .nav-link:focus {
    animation: color-change 6s linear infinite;
    border-bottom: solid 2px #ff1493;
    background-color: rgba(0, 0, 0, 0)
}
@keyframes color-change {

    0%,
    100% {
        border-color: #2fb4ae
    }
    25% {
        border-color: #2558ab
    }

    50% {
        border-color: #c71f1f
    }

    75% {
        border-color: #ffcd00
    }
}
.education-items{
    position: absolute;
}
.education-items .education-item{
    list-style: none !important;
}
.education-item .card {
    position: relative;
    width: 320px;
    height: 380px;
    margin: 20px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    transition: transform 0.3s ease; /* Add smooth transition */
}

.education-item .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.education-item .card:hover .box {
    transform: scale(1.05); /* Optional: Apply slight scale to the box as well */
}







 /* responive ===========================================================================================================	 */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 768px) and (max-width: 991.98px) {
   .qualifications .nav-pills .nav-item .nav-link {
       font-size: 0.8em;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .qualifications .nav-pills .nav-item .nav-link {
       color: black;
       font-size: 0.8em;
       margin: -40px 75px 0 75px;;
   }
}

@media (min-width: 460px) and (max-width: 575.98px) {
   /* .qualifications{
       height: 60vh;
   } */
   .qualifications .nav-pills .nav-item .nav-link {
       color: black;
       font-size: 0.8em;
       margin: 0px 0px 0 0px;;
   }
}
@media (min-width: 0px) and (max-width: 459.98px) {
   
   .qualifications .nav-pills .nav-item .nav-link {
       color: black;
       font-size: 0.8em;
       margin: 0px 0px 0 0px;;
   }
}