*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
.qualifications{
    height: 100vh;
    /* background-color: #ffcd00; */
    
}
.qualifications-title{
    position: absolute;
    color: black;
    z-index: 1;
    left: 43%;

}
.shape-svg1 svg{
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
    
}
.shape-svg2 svg{
    position: absolute;
    top: 53%;
    left: 0;
}

.qualifications .qualifications-box .nav{
    position: absolute;
    left: 28%;
    z-index: 1;
}
.qualifications .nav-pills .nav-item .nav-link {
    color: black;
    font-weight: 600;
    font-size: 1.0em;
    margin: 20px 45px 0 45px;
    border-radius: 0 !important;
}

.qualifications .nav-pills .nav-item .nav-link.active,
.qualifications .nav-pills .nav-item .nav-link:active,
.qualifications .nav-pills .nav-item .nav-link:focus {
    animation: color-change 6s linear infinite;
    border-bottom: solid 2px #ff1493;
    background-color: rgba(0, 0, 0, 0)
}
@keyframes color-change {

    0%,
    100% {
        border-color: #2fb4ae
    }
    25% {
        border-color: #2558ab
    }

    50% {
        border-color: #c71f1f
    }

    75% {
        border-color: #ffcd00
    }
}

.education-items{
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* height: 400px; */
    gap: 20px;
    top: 28%;
    /* left: 5.5%; */
    transition: 0.5s;
    z-index: 1;
}
.cards .card{
    height: 220px;
    width: 380px;
    border: 0.5px solid #ffcd00;
    border-radius: 28px;
    padding: 3rem 8%;
    position: relative;
    z-index: 1;
    background-color: white;
    overflow: hidden;
    transition: .6s;
}
.cards .card::after{
    position: absolute;
    content: "";
    height: 40%;
    width: 8%;
    top: 30%;
    right: -4%;
    background-color: #ffcd00;
    border-radius: 28px;
    z-index: -1;
    transition: .6s;
}
.cards .card:hover{
    color: white;
}
.cards .card:hover::after{
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
}
.row {
    --bs-gutter-x: 0rem !important;
}   








 /* responive ===========================================================================================================	 */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 768px) and (max-width: 991.98px) {
   .qualifications .nav-pills .nav-item .nav-link {
       font-size: 0.8em;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .qualifications .nav-pills .nav-item .nav-link {
       color: black;
       font-size: 0.8em;
       margin: -40px 75px 0 75px;;
   }
}

@media (min-width: 460px) and (max-width: 575.98px) {
   /* .qualifications{
       height: 60vh;
   } */
   .qualifications .nav-pills .nav-item .nav-link {
       color: black;
       font-size: 0.8em;
       margin: 0px 0px 0 0px;;
   }
}
@media (min-width: 0px) and (max-width: 459.98px) {
   
   .qualifications .nav-pills .nav-item .nav-link {
       color: black;
       font-size: 0.8em;
       margin: 0px 0px 0 0px;;
   }
}